<p id="notice"><%= notice %></p>

<p>
  <strong>User last name:</strong>
  <%= @user.user_last_name %>
</p>

<p>
  <strong>User first name:</strong>
  <%= @user.user_first_name %>
</p>

<p>
  <strong>User e mail:</strong>
  <%= @user.user_e_mail %>
</p>

<p>
  <strong>User access rights:</strong>
  <%= @user.user_access_rights %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
